

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
/* Grid
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* Flex
   Containers ------------------------------------- */
.flex {display: flex;}
.flex-inline {display: inline-flex;}
.flex.column,
.flex-inline.column {flex-direction: row;}
.flex.row,
.flex-inline.row {flex-direction: row;}
.flex.column-rev,
.flex-inline.column-rev {flex-direction: row-reverse;}
.flex.row-rev,
.flex-inline.row-rev {flex-direction: row-reverse;}

.flex.wrap {flex-wrap: wrap;}
.flex.wrap-rev {flex-wrap: wrap-reverse;}

.flex.justify-start {justify-content: flex-start;}
.flex.justify-end {justify-content: flex-end;}
.flex.justify-around {justify-content: space-around;}
.flex.justify-between {justify-content: space-between;}
.flex.justify-center {justify-content: center;}

.flex.content-align-start {align-content:flex-start;}
.flex.content-align-end {align-content: flex-end;}
.flex.content-align-center {align-content: center;}
.flex.content-align-around {align-content: space-around;}
.flex.content-align-between {align-content:space-between;}
.flex.content-align-stretch {align-content: stretch;}

.flex.align-start {align-items: flex-start;}
.flex.align-end {align-items: flex-end;}
.flex.align-stretch {align-items: stretch;}
.flex.align-center {align-items: center;}
.flex.align-baseline {align-items: baseline;}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .flex.column,
  .flex-inline.column {flex-direction: column;}
  .flex.column-rev,
  .flex-inline.column-rev {flex-direction: column-reverse;}
}

/* Flex
   Items ------------------------------------- */

.flex>.grow-1 {flex-grow: 1;}
.flex>.grow-2 {flex-grow: 2;}
.flex>.grow-3 {flex-grow: 3;}

.flex>.shrink-1 {flex-shrink: 1;}
.flex>.shrink-2 {flex-shrink: 2;}
.flex>.shrink-3 {flex-shrink: 3;}

.flex>.align-self-end {align-self: flex-end;}
.flex>.align-self-start {align-self: flex-start;}
.flex>.align-self-center {align-self: center;}
.flex>.align-self-baseline {align-self: baseline;}
.flex>.align-self-stretch {align-self: stretch;}

.flex>.basis-content {
 flex-basis: content;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Palanquin", "Open Sans", "Work Sans", Helvetica, Arial, sans-serif;
  color: #222;
  }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2.0rem;
  font-weight: 400; }
h1 { font-family: 'Montserrat', sans-serif; font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-family: 'Catamaran', font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-family: 'Montserrat', font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-family: 'Catamaran', font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-family: 'Montserrat', font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-family: 'Catamaran', font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

p {
  font-family: 'Palanquin';
  }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

i {
  font-size: 1.6rem;
  padding: 0 .8rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  font-family: 'Catamaran';
  font-size: 1.6rem;
  color: #666;
  text-decoration: none;
  transition: 0.2s ease;
 }
a:hover {
  color: #25c;
}

@media (min-width: 40.0rem) {
  a {
    font-size: 1.3rem;
   }
}
@media (min-width: 760px) {
  a {
    font-size: 1.5rem;
   }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 2px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  position: relative;
  top: -1px;
  left: -1px;
  -moz-box-shadow: 1px 1px 2px 0px #aaa;
	-webkit-box-shadow: 1px 1px 2px 0px #aaa;
	box-shadow: 1px 1px 2px 0px #aaa;
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 20px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Header
-------------------------------------------------- */
header.top-nav {
  width: 100%;
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  margin: 0;
  padding: 0;
  }

  /* Logo */
  header .brand {
    display: inherit;
    width: 80px;
    /* height: 80px; */
    align-items: center;
    justify-content: center;
    }
    header .brand img {
      width: 9.0rem;
    }


  /* User Menu */
  a:hover i {
    position: relative;
    color: #fff;
    top: -2px;
    left: -2px;
    text-shadow: 2px 2px #aaa;
  }
  #userMenu {
    z-index: 120;
    background: rgba(245, 245, 245, 1);
    position: relative;
    padding: 8px;
    color: #222;
    }


/* Small Screens */
  @media (max-width: 40.0rem) {
    body {
      overflow-x: hidden;
    }

    /* Logo */
    header .brand {
      width: 100px;
      }
      header .brand img {
        padding-top: 1rem;
        width: 10.0rem;
      }

    /* Main Menu */
    .menu-icon {
      position: absolute;
      top: 9.0rem;
      right: 1rem;
      z-index: 10;
      }
      #mainMenu {
        position: absolute;
        right: 0;
        width: 100%;
        text-align: center;
        top: 120px;
        z-index: 120;
        background: rgba(245, 245, 245, 1);
        padding: 8px;
        color: #222;
      }
      #mainMenu a {
        display: block;
        padding: 1rem;
      }

    /* Search */
    .search-icon {
      position: absolute;
      top: 9.0rem;
      z-index: 10;
      text-align: center;
      }
      .search {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 20;
        display: none;
      }
      .search-form {
        position: absolute;
        width: 100%;
        margin: 0 25%;
        top: 80px;
      }
      .search-input {
        width: 40%;
      }

    /* User Menu */
    .user-menu {
      background-color: rgba(255, 255, 255, 0.5);
      }
      .user-icon {
        position: absolute;
        top: 9.0rem;
        left: 1rem;
        z-index: 10;
      }
      #userMenu {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 110;
      }
      #userMenu a {
        display: block;
        padding: 1rem;
      }

  }
  /* medium Screens */
  @media (min-width: 40.0rem) {
    header.top-nav {
    flex-direction: row;
    height: 80px;
    }

      /* Logo */
      header .brand img {
        padding-top: 1rem;
        padding-left: 2rem;
      }

      /* Main Menu */
      .menu-icon {
        display: none;
      }
      .main-menu {
        width: 100%;
      }
      #mainMenu {
        top: 1rem;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
      }
      #mainMenu>a  {
        padding: 0 8px;
        text-align: center;
        white-space: nowrap;
      }
      #mainMenu>a::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #25c;
          transition: width .3s;
      }

      #mainMenu>a:hover::after {
          width: 100%;
          //transition: width .3s;
      }
      /* Main menu */
      #mainMenu a span.long {
        display: none;
      }



    /* Menu Dropdown */
    .dropdown {
      position: relative;
      padding: 0px 8px 10px 8px;
      }
      .dropdown-content {
        margin-top: 10px;
        background-color: #eee;
        position: absolute;
        display: none;
        z-index: 100;
      }
      .dropdown-content a {
        display: block;
        padding: 1rem 1rem 1rem 1rem;
        width: 200px;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }

    /* Search */
    .search {
      display: none;
      }
      .search-form {
        margin-bottom: 0;
      }
      .search-icon {
        margin: 0 3rem;
      }

    /* User Menu */
    .user-icon {
      margin: 0 3rem;
      text-align: center;
      }
      .user-menu {
        position: absolute;
        top: 8rem;
        right: 0;
      }
      .user-menu {
        padding: 8px;
      }
      .user-menu a {
        display: block;
        padding: 8px 0;
      }
    }
  @media (min-width: 73.6rem) {
      /* Main menu */
      #mainMenu a span.long {
        display: inline;
      }    }
  /* Larger than tablet */
  @media (min-width: 80.0rem) {
    /* Main Menu */
    .main-menu {
      width: 50%;
      }
      #mainMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

    /* Search */
    .search {
      display: block;
      }
      .search-icon {
        display: none;
      }

    .user-icon {
        /* margin: 0 1rem; */
        margin-right: 3rem;
    }
  }

  /* Sidebar Categories */

  a.cat-header {
    font-size: 1.6rem;
  }
  #catIcon {
    padding: 1rem;
    position: absolute;
    display: flex;
    width: auto;
    height: 24px;
    z-index: 10;
    align-items: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 20px 20px 0px;
    transition: 0.6s ease;
  }
  #catIcon p {
    margin-bottom: 0;
    display: none;
    }
  #catIcon:hover p {
    display: block;
  }

  .sidebar-inner {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 100;
    left: 0;
    background-color: #ededed;
    padding: 0px;
    transition: 0.3s;
    overflow: hidden;
    }
  .sidebar-inner a {padding: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    /* display: block; */
    transition: 0.3s;
    white-space: nowrap;
  }
  .sidebar-inner ul {
    background-color: #eee;
    overflow: hidden;
    list-style-type:none;
    margin: 0px;
    padding-left: 0px;
    transition: 0.3s;
  }
  .sidebar-inner li {
    padding: 8px 0 0;
    margin-bottom: 0px;
    border-bottom: solid 1px #eee;
  }
  .sidebar-inner ul>li>ul {
    background-color: #fff;
  }

.sidebar-inner ul>li {
  background-image: -webkit-linear-gradient(180deg, rgba(240,240,240,1) 0, rgba(230,230,230,1) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(240,240,240,1) 0, rgba(230,230,230,1) 100%);
  background-image: linear-gradient(180deg, rgba(240,240,240,1) 0, rgba(230,230,230,1) 100%);
  background-position: 50% 50%;
  }
.sidebar-inner ul>li>ul>li {
  background-image: -webkit-linear-gradient(180deg, rgba(246,246,246,1) 0, rgba(255,255,255,1) 100%);
  background-image: -moz-linear-gradient(180deg, rgba(246,246,246,1) 0, rgba(255,255,255,1) 100%);
  background-image: linear-gradient(180deg, rgba(246,246,246,1) 0, rgba(255,255,255,1) 100%);
  background-position: 50% 50%;
  }

  .sidebar-inner ul>li>ul>li a {
    padding-left: 8px;
    color: #133d8d;
    }
  .closebtn {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
  .sidebar-inner li:hover {
    background-color: #143d8d;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  }
  .sidebar-inner li:hover>a {
    color: #fff;
  }

  @media (max-width: 40.0rem) {

  }

/* Main
-------------------------------------------------- */
  main {
    display: flex;
    flex-direction: row;
  }
  .hero {
  }
  .slideshow {
    position: relative;
    width: 100%;
    z-index: 0;
  }
  .content {
    width: 100%;
    /* display: none; */
    transition: 0.3s;
  }

 /* Slideshow */

.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
}


.mySlides {
    display: none;
    position: relative;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.hero .text {
  color: #fff;
  padding: 8px 2.6rem;
  position: absolute;
  top: 10%;
  width: 40%;
  text-align: center;
}
  .hero h1 {
    font-family: 'Kanit';
    font-weight: 800;
  }
@media (max-width: 40.0rem) {
  .hero h1 {
    font-size: 1.8rem;
  }
}
@media (min-width: 40.0rem) {
  .hero h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 60.0rem) {
  .hero h1 {
    font-size: 3rem;
  }
}
@media (min-width: 72.0rem) {
  .hero h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 80.0rem) {
  .hero h1 {
    font-size: 4.6rem;
  }
}
@media (min-width: 90.0rem) {
  .hero h1 {
    font-size: 5.2rem;
  }
}

.hero .providing .text {
  right: .4rem;
  text-align: right;
  }
  .providing .slide_img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(19, 61, 141, 0.9));
  opacity: .6;
}
.hero .offering .text {
  right: .4rem;
  text-align: right;
}
  .offering .slide_img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(19, 61, 141, 0.9));
  opacity: .6;
  }
.hero .saving .text {
  left: .4rem;
  text-align: left;
}
  .saving .slide_img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(19, 61, 141, 0.9));
  opacity: .6;
  }
.hero .showing .text {
  left: 0%;
  text-align: left;
}
  .showing .slide_img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(19, 61, 141, 0.9));
  opacity: .6;
  }
.hero .guaranteeing .text {
  right: .4rem;
  text-align: right;
}
  .guaranteeing .slide_img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(19, 61, 141, 0.9));
  opacity: .6;
  }
.hero .gone .text {
  right: .4rem;
  text-align: right;
  color: #fff;
}
  .gone .slide_img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(19, 61, 141, 0.9));
  opacity: .6;
  }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  z-index: 9;
  transition: background-color 0.6s ease;
}
.activeSlide, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 720px) {
  #userNav >nav>a {
    flex-direction: column;
  }
  .sidebar {
    width: 0px;
  }
  .hero {
    height: 250px;
    margin: auto;
  }
  .hero img {
    height: 100%;
    width: 580px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Cards */
.cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  .card {
    position: relative;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    height: inherit;
    overflow: hidden;
    box-shadow: 4px 4px 2px #eee;
  }
  .card h6 {
    margin-bottom: 1rem;
  }
  .card img {
    width: 100%;
  }

@media (min-width: 40.0rem) {
  .cards {
    flex-direction: row;
  }
  .card {
    width: 30%;
    margin-bottom: 3rem;
  }
  .card h6 {
    margin-bottom: 4rem;
  }
  .card a {
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    margin-bottom: .5rem;
  }

}



/* Widgets
-------------------------------------------------- */

/* Footer
-------------------------------------------------- */


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 40.0rem) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 55.0rem) {}

/* Larger than tablet */
@media (min-width: 80.0rem) {}

/* Larger than desktop */
@media (min-width: 100.0rem) {}

/* Larger than Desktop HD */
@media (min-width: 120.0rem) {}


  /* hide/show
  -------------------------------------------------- */
.hide {
  display: none;
}
.show {
  display: block;
}
.collapse {
  display: none;
}
.collapse.show {
  display: block;
}
